.ClanList {
    + .ClanList {
        margin-top: -15px;
    }

    thead tr.details th {
        i.primary, i.all { color: #4E61A7; }
        i.ally { color: #C52424; }
    }

    thead tr.header th {
        &:not(:first-child) {
            text-align: right;
        }

        &.sortable {
            cursor: pointer;

            &.active:before {
                content: '\F107';
                font-family: FontAwesome;
                margin-right: 5px;
            }

            &:hover {
                background-color: #F1F1F1;
            }

            &.active > span,
            &:hover > span {
                text-decoration: underline;
            }
        }
    }

    tbody .founder { color: #F75200; }
    tbody .administrator { color: #F78B00; }

    tbody tr.loading {
        background-color: #FAFCFF;
    }

    tbody td.activity {
        text-align: right;
        font-size: 0.8em;

        > div { font-weight: 500; }
        > .veryHigh { color: #458E00; }
        > .high { color: #51C000; }
        > .medium { color: #F19200; }
        > .low { color: #F33912; }
        > .veryLow { color: #B3290C; }
        > .noData { color: silver; font-weight: normal; }

        .moreInfo {
            color: silver;
            cursor: pointer;

            &:hover {
                color: gray;
            }
        }
    }

    tbody td.index {
        text-align: right;
        font-weight: bold;
        font-size: 0.8em;

        &:after {
            content: 'º';
            margin-left: 2px;
        }
    }

    tbody .displayName {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    tbody td.loading {
        color: #4C4C6B;
        text-align: center;
    }
}
